* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f8f8;
    width: 100%;
    overflow-x: hidden;
}

.gestionnaire-taches {
    text-align: center;
    position: relative;
    top: 20px;
}

.nouvelle-tache {
    background-color: #b5e7a0;
    border: 1px solid #4caf50;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    width: 50px;
}

.nouvelle-tache:hover {
    background-color: #8fc786;
}

input {
    padding: 8px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
    padding: 8px;
    cursor: pointer;    
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4caf50;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    margin: 5px 0;
    padding: 8px;
    background-color: #b8d6de;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #2e73af;
}

.terminee {
    text-decoration: line-through;
    opacity: 0.5;
}

.nom-tache {
    font-weight: bold;
}

.date-tache {
    color: #888;
    font-size: 0.8em;
}

.boutons-tache {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
